body {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  background-color: #64C9CF;
  margin: 0;
}
.top {

  color: #0F044C;
  position: relative;
  padding-top: 100px;
}
.cloud {
  position: relative;
  padding-right: 300px;
}
.cloud2 {
  position: relative;
  padding-left: 300px;
}

.mountain{
  position: relative;
  padding-right: 2%;
}
